button {
    outline: none;
    margin: 0px;
    border: none;
    border-radius: 2px;
}

* {
    box-sizing: border-box;
}

body {
    width: 300px;
    margin: 0px;
}

#big-content {
    width: 100%;
    height: 100%;
    background-color: gray;
    padding: 5px;
}

#content {
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: white;
}

#result {
    margin: 0px;
    overflow-y: auto;
}
#password-part{
    display: none;
}